@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ptit-50: #fffbeb;
  --ptit-100: #fef3c7;
  --ptit-200: #fde68a;
  --ptit-300: #fcd34d;
  --ptit-400: #fbbf24;
  --ptit-500: #d97706;
  --ptit-600: #b45309;
  --ptit-700: #92400e;
  --ptit-800: #78350f;
  --ptit-900: #451a03;
}

@layer base {

  html,
  body {
    @apply bg-amber-50 text-slate-900;
  }

  * {
    @apply antialiased;
  }
}